flows.json
[{"id":"728f7a22.9ae664","type":"tab","label":"Lec.1","disabled":false,"info":""},{"id":"f7e1d856.0c2b48","type":"tab","label":"Lec. 2","disabled":false,"info":""},{"id":"df17019d.49079","type":"tab","label":"Lec. 3","disabled":false,"info":""},{"id":"aec9e408.80da88","type":"tab","label":"Dashboard","disabled":false,"info":""},{"id":"ccfd81e6.97036","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"78526749.cf28","type":"ui_tab","z":"","name":"jejo.es (Em50L)","icon":"dashboard","disabled":false,"hidden":false},{"id":"882be525.423cb8","type":"ui_group","z":"","name":"Jejo","tab":"78526749.cf28","disp":false,"width":"10","collapse":false},{"id":"a9545736.608598","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Jejo (Dashboard)","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"7b6c970.765e868","type":"ui_template","z":"aec9e408.80da88","group":"882be525.423cb8","name":"Plantilla","order":1,"width":"0","height":"0","format":"<h3>Node-Red portable.</h3>\nPrueba de Node-Red en un entorno portabilizado \n<br>con el framework electron.\n<br>\n<br>Para Editar el Codigo y acceder a un \"minicurso node-red\" \n<br>Ve al Menu:<b> Node-Red => Editar Codigo</b> \n<br>\n<br>O pulsa Este Boton","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":70,"y":60,"wires":[[]]},{"id":"657902c8.9e924c","type":"function","z":"aec9e408.80da88","name":"loadURL editar codigo","func":"// https://electronjs.org/docs/api\nvar electron = global.get('electron');//require('electron')\n\n//var focussedWindow = electron.BrowserWindow.getFocusedWindow()\n//console.log(focussedWindow.getBounds())\nconsole.log('cargo url: http://127.0.0.1:1880/admin/')\n//focussedWindow.loadURL('http://127.0.0.1:1880/admin/')\n\nvar BrowserWindow =[];//https://electronjs.org/docs/api/browser-window\nBrowserWindow = electron.BrowserWindow.getAllWindows()\nBrowserWindow[0].loadURL('http://127.0.0.1:1880/admin/')\n\nconsole.log('En contenido de la ventana deveria cambiar')\n\nreturn null //focussedWindow","outputs":1,"noerr":0,"x":380,"y":100,"wires":[[]]},{"id":"4fafbfb3.05b59","type":"inject","z":"728f7a22.9ae664","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":53,"wires":[["448f40bd.880f8"]]},{"id":"e3ac1177.1b8f7","type":"ui_button","z":"aec9e408.80da88","name":"","group":"882be525.423cb8","order":2,"width":0,"height":0,"passthru":false,"label":"Editar Codigo / Curso Node-Red","tooltip":"Pulsa este boton para ir a la Interfaz de Edicion","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":140,"y":100,"wires":[["657902c8.9e924c"]]},{"id":"1a814735.e0ef79","type":"comment","z":"728f7a22.9ae664","name":"Leccion 1 Uso de los nodos Inyect y Debug","info":"","x":170,"y":20,"wires":[]},{"id":"448f40bd.880f8","type":"debug","z":"728f7a22.9ae664","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","x":280,"y":53,"wires":[]},{"id":"3b6f1b6.9c115e4","type":"comment","z":"728f7a22.9ae664","name":"1) Arrastra el nodo de la derecha \"inject\" aqui","info":"","x":180,"y":100,"wires":[]},{"id":"8e34e614.6ec938","type":"comment","z":"728f7a22.9ae664","name":"2) Doble click en el nodo para editar.","info":"","x":150,"y":210,"wires":[]},{"id":"79f147dc.faad38","type":"comment","z":"728f7a22.9ae664","name":"Pulsa echo cuando termines de editar el nodo","info":"","x":180,"y":240,"wires":[]},{"id":"8ec976df.2aff78","type":"comment","z":"728f7a22.9ae664","name":"3) Arrastra el nodo de la derecha \"debug\" y ponlo detras del nodo \"timestamp\"","info":"","x":280,"y":280,"wires":[]},{"id":"e00bf5f6.09ad08","type":"comment","z":"728f7a22.9ae664","name":"4) Doble click en el nodo para editar.","info":"","x":150,"y":320,"wires":[]},{"id":"54b81c20.e90404","type":"comment","z":"728f7a22.9ae664","name":"Marca el chect \"node Status\" y Pulsa Echo para terminar de editar el nodo","info":"","x":270,"y":350,"wires":[]},{"id":"3c2d52ce.09ecde","type":"comment","z":"728f7a22.9ae664","name":"5) arrastra y suelta desde el punto gris del nodo \"timestamp\"","info":"","x":230,"y":390,"wires":[]},{"id":"2737e4f5.278edc","type":"comment","z":"728f7a22.9ae664","name":"hasta el punto gris del nodo verde (msg.payload)","info":"","x":190,"y":420,"wires":[]},{"id":"b35f6127.66cee","type":"comment","z":"728f7a22.9ae664","name":"6) Despliega/Compila el codigo desde el boton desplegar","info":"","x":220,"y":460,"wires":[]},{"id":"15369cb0.265c83","type":"comment","z":"728f7a22.9ae664","name":"Nota: al hacer esto el boton \"desplegar\" se ha puesto en rojo","info":"","x":230,"y":130,"wires":[]},{"id":"921d1d92.cec2e","type":"comment","z":"728f7a22.9ae664","name":"7) Prueba a pulsar el boton de la izquierda del nodo \"timestampt\"","info":"","x":240,"y":500,"wires":[]},{"id":"61b4c87e.4fc7f8","type":"comment","z":"f7e1d856.0c2b48","name":"Leccion 2 Edicion y Configuracion de los Nodos","info":"","x":190,"y":20,"wires":[]},{"id":"1d1bb045.b0656","type":"inject","z":"f7e1d856.0c2b48","name":"","topic":"Tema2","payload":"Hola Mundo","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":130,"y":50,"wires":[["8d5e50dd.b0743","fd43a589.8e95f8"]]},{"id":"8d5e50dd.b0743","type":"debug","z":"f7e1d856.0c2b48","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":320,"y":50,"wires":[]},{"id":"42130e2c.3dc67","type":"comment","z":"f7e1d856.0c2b48","name":"1) Repite los pasos del Tema1","info":"","x":130,"y":133,"wires":[]},{"id":"5fa3e803.ceaf68","type":"comment","z":"f7e1d856.0c2b48","name":"3) Arrastra el Nodo \"Notification\" y el nodo \"button\" del panel dashboard","info":"","x":260,"y":380,"wires":[]},{"id":"360d0c7e.1bb794","type":"comment","z":"f7e1d856.0c2b48","name":"2) Doble click en el nodo \"timestamp\"","info":"","x":160,"y":250,"wires":[]},{"id":"aa9d8d52.d9dac","type":"comment","z":"f7e1d856.0c2b48","name":"Despliega el campo payload y selecciona cadena/String","info":"","x":230,"y":280,"wires":[]},{"id":"b2c68c13.452a8","type":"comment","z":"f7e1d856.0c2b48","name":"Rellena el cuadro az: con el texto \"Hola mundo\"","info":"","x":210,"y":310,"wires":[]},{"id":"ce009a56.40d528","type":"ui_button","z":"f7e1d856.0c2b48","name":"","group":"882be525.423cb8","order":3,"width":0,"height":0,"passthru":false,"label":"Lec.2 ","tooltip":"Leccion2 al pulsar el boton aparecera una notificacion ","color":"","bgcolor":"","icon":"","payload":"Hola Mundo","payloadType":"str","topic":"Tema2 ","x":170,"y":100,"wires":[["fd43a589.8e95f8"]]},{"id":"4296e599.13500c","type":"comment","z":"f7e1d856.0c2b48","name":"Rellena el cuadro Topic con el texto Tema2","info":"","x":190,"y":340,"wires":[]},{"id":"c4626ce1.7e93d","type":"comment","z":"f7e1d856.0c2b48","name":"5) pulsa \"deplegar\"  y ve al menu: Node-Red => DashBoard","info":"","x":220,"y":480,"wires":[]},{"id":"fd43a589.8e95f8","type":"ui_toast","z":"f7e1d856.0c2b48","position":"top right","displayTime":"3","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"","name":"","x":330,"y":100,"wires":[]},{"id":"4312760b.7192f8","type":"comment","z":"f7e1d856.0c2b48","name":"Doble click en el nodo button y rellena el cuadro payload ","info":"","x":240,"y":410,"wires":[]},{"id":"da1e7f13.ed45d","type":"comment","z":"f7e1d856.0c2b48","name":"Con el texto \"hola mundo\". (el triangulo rojo debria desaparecer)","info":"","x":260,"y":440,"wires":[]},{"id":"3d38477a.9c0c48","type":"comment","z":"f7e1d856.0c2b48","name":"Para Probar la Respuesta a los botones.","info":"","x":190,"y":510,"wires":[]},{"id":"7ca59632.137e38","type":"inject","z":"ccfd81e6.97036","name":"test","topic":"","payload":"test","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":70,"wires":[["2032c963.832276"]]},{"id":"2032c963.832276","type":"function","z":"ccfd81e6.97036","name":"bcrypt","func":"var bcrypt = global.get('bcryptjs');\n\nmsg.payload=bcrypt.hashSync(msg.payload,8)\n\nreturn msg;","outputs":1,"noerr":0,"x":205,"y":70,"wires":[["30e04f63.67e76"]]},{"id":"30e04f63.67e76","type":"debug","z":"ccfd81e6.97036","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":340,"y":70,"wires":[]},{"id":"751cbf47.240a9","type":"inject","z":"ccfd81e6.97036","name":"test","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":155,"wires":[["c294cefe.fbc08"]]},{"id":"c294cefe.fbc08","type":"function","z":"ccfd81e6.97036","name":"dialogo","func":"// https://electronjs.org/docs/api\nvar electron = global.get('electron');//require('electron')\n\nconst options={type:'info',message:\"Jejo EM50L https://jejo.es \",buttons: [\"OK\"] };\nelectron.dialog.showMessageBox(options,function(){})\n\nreturn msg;","outputs":1,"noerr":0,"x":215,"y":155,"wires":[[]]},{"id":"ee7899a1.ff7c78","type":"function","z":"ccfd81e6.97036","name":"Libreria os","func":"var os = global.get('os');\n\nnode.status({fill:\"green\",text:\"Mem: \"+os.freemem()+\" Uptime:\"+os.uptime()});\n\nreturn msg;","outputs":1,"noerr":0,"x":225,"y":110,"wires":[[]]},{"id":"e4a383c.0d0688","type":"inject","z":"ccfd81e6.97036","name":"test","topic":"","payload":"test","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":110,"wires":[["ee7899a1.ff7c78"]]},{"id":"d8c75f4b.438da","type":"function","z":"ccfd81e6.97036","name":"menu de la aplicacion","func":"// https://electronjs.org/docs/api\nvar electron = global.get('electron');//require('electron')\nconst Menu = electron.Menu;\nMenu.setApplicationMenu(null);\n\nBrowserWindow =[];//https://electronjs.org/docs/api/browser-window\nBrowserWindow = electron.BrowserWindow.getAllWindows()\nBrowserWindow[0].setMenuBarVisibility(false)\n//https://stackoverflow.com/questions/39091964/remove-menubar-from-electron-app\n//https://electronjs.org/docs/api/frameless-window\n\nreturn msg;","outputs":1,"noerr":0,"x":255,"y":190,"wires":[[]]},{"id":"6972003d.d0f05","type":"inject","z":"ccfd81e6.97036","name":"Borra","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":190,"wires":[["d8c75f4b.438da"]]},{"id":"d44c2380.97d67","type":"function","z":"ccfd81e6.97036","name":"menu de la aplicacion","func":"// https://electronjs.org/docs/api\nvar electron = global.get('electron');//require('electron')\n\nconst Menu = electron.Menu;\n//const menuTemplate = [ {label: 'Em50L'}];\nvar menuTemplate = [{\n\tlabel: \"Applicacion\",submenu: [\n\t\t{label:'Acerca de...',click(item,fWin){acercade(item,fWin)} },\n\t\t{type:\"separator\"},{label:'Salir',role:'quit' }]\n    },{\n\tlabel: 'Node-RED',submenu: [\n\t\t{label:'Dashboard',click(){win.loadURL(\"http://localhost:\"+listenPort+\"/ui/\");}},//url);}},\n\t\t{label:'Editar Codigo',click(){win.loadURL(\"http://localhost:\"+listenPort+urledit);}}, ]\n    },{\n\tlabel:'Ver',submenu: [{\n\t\tlabel: 'Recargar',accelerator:'CmdOrCtrl+R',click(item,fWin){if (fWin)fWin.reload();} },{ \n\t\tlabel: 'Barra Desarrollador',click(item,fWin){if(fWin)fWin.webContents.toggleDevTools();} \n\t\t},{ type: 'separator' },{ role: 'resetzoom'},{ role: 'zoomin'},{ role: 'zoomout' \n\t\t},{ type: 'separator' },{ role: 'togglefullscreen'},{ role: 'minimize' } ]\n    }\n];\nconst menu = Menu.buildFromTemplate(menuTemplate);\nMenu.setApplicationMenu(menu);\n\nreturn msg;","outputs":1,"noerr":0,"x":255,"y":225,"wires":[[]]},{"id":"7450fbe6.d06024","type":"inject","z":"ccfd81e6.97036","name":"Rest.","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":225,"wires":[["d44c2380.97d67"]]},{"id":"a65f4a7.153a6b8","type":"inject","z":"ccfd81e6.97036","name":"test","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":88.99999618530273,"y":261.0000114440918,"wires":[["3908a2b7.6ae7fe"]]},{"id":"3908a2b7.6ae7fe","type":"function","z":"ccfd81e6.97036","name":"redimensiona ventana","func":"// https://electronjs.org/docs/api\nvar electron = global.get('electron');//require('electron')\n\nvar focussedWindow = electron.BrowserWindow.getFocusedWindow()\nconsole.log(focussedWindow)\nconsole.log(focussedWindow.getBounds())\n\n//focussedWindow.loadURL('https://jejo.es')\nfocussedWindow.setBounds({x:90,y:90,width:800,height:600})\n\nreturn focussedWindow","outputs":1,"noerr":0,"x":253.99999618530273,"y":261.0000114440918,"wires":[[]]},{"id":"ee34957f.b2af88","type":"comment","z":"ccfd81e6.97036","name":"Demo: uso de las APIS para controlar electron desde node-red","info":"https://jejo.es","x":240,"y":20,"wires":[]},{"id":"d92ee415.465158","type":"comment","z":"aec9e408.80da88","name":"Elementos que se visualizan en el Dashboard de la portada","info":"https://jejo.es","x":220,"y":20,"wires":[]},{"id":"ff471945.887c38","type":"comment","z":"df17019d.49079","name":"Lo siento De momento ya no hay mas lecciones","info":"","x":180,"y":20,"wires":[]},{"id":"99ad6966.36c5d8","type":"comment","z":"df17019d.49079","name":"Ire publicando Mas lecciones en las nuevas versiones.","info":"","x":200,"y":60,"wires":[]},{"id":"9cbf1950.5044a8","type":"comment","z":"df17019d.49079","name":"Para mas informacion visita: https://jejo.es  y  https://github.com/EM50L/ ","info":"","x":250,"y":100,"wires":[]},{"id":"b43dc1a7.e92aa","type":"comment","z":"df17019d.49079","name":"Se agradecen comentarios y Estrellas Github","info":"","x":170,"y":130,"wires":[]},{"id":"f8625a97.9ff758","type":"inject","z":"728f7a22.9ae664","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":170,"wires":[["8eed5a87.f995d8"]]},{"id":"8eed5a87.f995d8","type":"debug","z":"728f7a22.9ae664","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":330,"y":170,"wires":[]}]